/* 
TODO: header a nav stylovat classou
*/

/* reset */

h1, h2, h3, h4, h5, h6 {
	-webkit-margin-before:0em;
	-webkit-margin-after:0em;
}

header,nav,article,footer,section,aside,figure,figcaption{display:block}

/* webfont */

@font-face {
	font-family: 'Cyklop';
	src: url('Cyklop-Regular.eot');
	src: url('Cyklop-Regular.eot?#iefix') format('embedded-opentype'),
		url('Cyklop-Regular.woff') format('woff'),
		url('Cyklop-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* style */

body {
	background-color: #fdf6e3;
	background: center no-repeat fixed;
	background-size: cover;
	position: relative;
	background-image: url(houba.jpg);

	font-family: "Helvetica", "Arial", sans-serif;
	line-height: 1.5;
	padding: 2em 1em;
}

.paper {
	background: rgba(253, 246, 227, 0.85);
	*background-color: #fdf6e3; 
	margin: 0 auto;
	max-width: 50em;
	padding: 2.5em;
	color: #586e75;
}

.paperlike {
	margin: 0 auto;
	max-width: 50em;
	padding: 0.5em 2.5em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Cyklop, Impact, sans-serif;
	padding-top: 0.5em;	
}

.article > h1 a {
	color: #002b36;
	text-decoration: none;
}

header {
	background-color: #002b36;
	color: #fdf6e3;
}

header a {
	color: #fdf6e3;
	text-decoration: none;
}

nav {
	background: rgba(253, 246, 227, 0.85);
	*background-color: #fdf6e3; 
	text-align: right;
}

nav a {
	font-family: Cyklop, Impact, sans-serif;
	font-size: 110%;
}

nav a.active {
	color: #002b36;
}

a {
	color: #268bd2;
	font-weight: bold;
}

img {
	max-width: 100%;
}

a img  {
	border: 2px dashed #268bd2;
}

hr {
	height: 3px;
	color: #586e75;
	background-color: #586e75;
}